#wise-overview-card {
  width: 100%;

  & > .ant-card-head {
    padding: 0 18px;
  
    .ant-tabs-tab {
      padding: 10px 0;
      font-size: 14px;
    }
  }
  & > .ant-card-body {
    padding: 16px;

    > .wise-overview > p {
      line-height: 1.5;
      font-size: 14px;

      &.wise-example-queries {
        line-height: 2;
  
        > button {
          margin: 0 2px;
        }
      }

      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}
