.wise-image-details-model {
  top: 5vh;

  > .ant-modal-content {
    height: 90vh;
    display: flex;
    flex-direction: column;

    // > .ant-modal-header {
    //   height: 24px;
    //   overflow: hidden;
    //   text-overflow: ellipsis;
    //   white-space: nowrap;
    //   width: 100%;
    // }
    > .ant-modal-header > .ant-modal-title > a {
      white-space: normal;
      height: unset;
      text-align: left;
      margin-left: -10px;
      margin-top: -5px;
      margin-right: 20px;
      word-break: break-word;

      > svg {
        height: 22px;
        width: 22px;
        vertical-align: -5px;
        margin-left: 5px;
      }
    }
    
    > .ant-modal-body {
      flex-grow: 1;
      position: relative;

      > a {
        width: calc(100% - 300px);
        height: 100%;
        // height: fit-content;
        display: inline-flex;
        position: absolute;
        left: 0;
        top: 0;
        flex-grow: 1;

        > img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      > .wise-image-details-metadata {
        width: 300px;
        height: 100%;
        padding: 10px 0 10px 25px;
        box-sizing: border-box;
        display: inline-block;
        font-size: 11px;
        overflow: scroll;
        position: absolute;
        right: 0;
        top: 0;
      }

    }
  }
  
  // Styles for smaller screens / mobile devices
  @media (max-width: 800px) {
    top: 2vh;

    > .ant-modal-content > .ant-modal-body {
      overflow: scroll;

      > a {
        width: 100%;
        height: fit-content;
        max-height: 80%;
        position: unset;
  
        > img {
          height: unset;
        }
      }
  
      > .wise-image-details-metadata {
        width: 100%;
        height: unset;
        position: unset;
        display: block;
        right: unset;
        top: unset;
      }
    }
  }
}
