/*
CSS style definitions for a WISE Image Search Engine project

Author : Abhishek Dutta <adutta@robots.ox.ac.uk>
Date   : 2023-03-08
*/ 

body { display:grid; grid-template-rows:auto auto; grid-template-columns:auto; gap:1em 0px; margin:0.5em 1em; padding:0; box-sizing:border-box; font-family:Sans; }
header#wise_panel { display:grid; grid-template-columns:120px auto; grid-column-start:1; grid-column-end:2; grid-row-start:1; grid-row-end:2; gap:0.5em 2em; }
header#wise_panel .logo { align-items:center; grid-column-start:1; grid-column-end:2; grid-row-start:1; grid-row-end:2; text-align:left; margin:auto 0;}
header#wise_panel .logo img { width:120px; height:40px; }

header#wise_panel .top { display:grid; grid-template-columns: auto auto; grid-column-start:2; grid-column-end:3; grid-row-start:1; grid-row-end:2; padding:0.5em 0; margin:auto 0; }
header#wise_panel .top .search { align-items:center; margin:auto 0; grid-column-start:1; grid-column-end:2; grid-row-start:1; grid-row-end:2; font-size:1.2em;}
header#wise_panel .top .search input#search_keyword { width:20em; padding:0.4em; font-size:1em; }
header#wise_panel .top .search button { padding:0.2em 0.4em; margin:0 0.2em; font-size:1.2em;}
header#wise_panel .top .top_toolbar { grid-column-start:2; grid-column-end:3; grid-row-start:1; grid-row-end:2; text-align:right; font-size:1.2em; }
header#wise_panel .top .top_toolbar input#current_page_no { width:3em; text-align:center; padding:0.1em 0.1em; font-size:1em; }
header#wise_panel .top .top_toolbar button { padding:0.2em 0.4em; margin:0 0.2em; font-size:1.2em;}
header#wise_panel #toolbar { grid-column-start:1; grid-column-end:3; grid-row-start:2; grid-row-end:3; text-align:center; padding:1em 0; border-bottom:2px solid #cccccc; }

/* Justified image grid
  - http://jsbin.com/tisaluy/8/edit?html,css,output
  - https://github.com/xieranmaya/blog/issues/6
  - https://medium.com/google-design/google-photos-45b714dfbed1
*/
section#content { display:block; }
section#content > .imgrid {
  display: flex;
  flex-wrap: wrap;
}
section#content > .imgrid::after {
  content: '';
  flex-grow: 999999999;
}
section#content > .imgrid > a {
  display: block;
  margin: 2px;
  background-color: #eee;
  position: relative;
}
section#content > .imgrid > a > i{
  display: block;
}
section#content > .imgrid > a > img {
  position: absolute;
  top: 0;
  width: 100%;
  vertical-align: bottom;
}

/* Misc */
.text_button { border:none; color:blue !important; background-color:inherit; cursor:pointer; display:inline-block; }
.text_button:hover { color:black; }
.key { font-family:monospace; padding:1px 6px; background:linear-gradient(to bottom,#f0f0f0,#fcfcfc);; border:1px solid #e0e0e0; white-space:nowrap; color:#303030; border-bottom-width:2px; border-radius:3px; }
.spinner { display:inline-block; width:8px; height:8px; border:4px solid; padding:0; margin:0; border-color:#3d5af1 transparent #3d5af1 transparent; border-radius:50%; animation:spin 1.2s linear infinite;}
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
